*{
  margin: 0px;
  padding: 0px;
  border: 0px;
}
@font-face {
  font-family: "PT Robot UI-bold";
  src: url(../public/fonts/pt-root-ui_bold.ttf);
}
@font-face {
  font-family: "PT Robot UI";
  src: url(../public/fonts/PT-Root-UI_Regular.ttf);
}
body {
  margin: auto;
  background: #E4E0DF;
  max-height: fit-content;
  max-width: 2000px;
}
#root{
  max-width: 1440px;
  margin: 24px 15.4vw 282px 15.5vw;
}
.all-cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 23px;
  gap: 33px;
}
